/*Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.barra{
    width: 50%;
    border-radius: 0.3rem;
    border: 0;
}

.lupita{
    padding: 0;
    margin-left: 4px;
    border-radius: 0.3rem;
    border: 0;
}

.icono-lupita{
    color: gray;
}

.titular{
    font-size: 24px;
    margin: 10px;
}

.precio{
    font-size: 18px;
    margin: 0;
    flex-grow: 0.3;
}

.descuento{
    font-size: 16px;
    margin-top:0;
    color: #39b54a;
    flex-grow: 0.7;
}

.descripcion{
    font-size: 16px;
    margin: 10px;
    color: #666;
}

.center{
    text-align: center;
    margin: 20px;
}

.enlaces-izq{
    list-style: none;
    padding: 0px;
}

.enlaces-der{
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    display: contents;
}

.burger-menu{
    text-align: center;
}

.hamburguesa{
    background: #1259c3;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.footer-section{
    text-align: center;
    margin: 50px;
}

.icono-footer{
    margin-bottom: 10px;
    font-size: 2em;
    color: #1259c3;
}

.icono-footer:hover{
    color: #EAC926;
}

.title{
    margin: 0px;
}

.parrafo{
    margin: 0px;
    font-size: 12px;
}

.copyright{
    font-size: 12px;
}

main{
    width: 90%;
    margin: auto;
}

article{
    background-color: white;
    margin-bottom: 10px;
}

article:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.info{
    border-top: 1px solid #ebebeb;
}

.imagen{
    text-align: center;
}

.camion{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 75%;
    top: -15px;
}    

.container{
    display: flex;
    flex-wrap: wrap;
}

.precuento{
    display: flex;
    margin: 0 10px 10px 10px;
}

.encabezado{
    display: flex;
}

@media (max-width: 360px){
    .enlaces{
        display: none;
    }
    article{
        width: 100%;
    }
    .navbar{
        display: none;
    }
    .barra-icono{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        width: 50%;
    }
    .barra{
        border-radius: 0.3rem 0 0 0.3rem;
    }
    .lupita{
        margin-left: 0px;
        border-radius: 0 0.3rem 0.3rem 0;
        background-color: white;
    }
}

@media (min-width: 361px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 50%;
    }
    .burger-menu{
        display: none;
    }
    .arriba{
        display: flex;
        justify-content: space-between;
    }
    .barra-icono{
        margin: 25px 0 0 10px;
        text-align: center;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    .enlaces-izq{
        display: flex;
    }
    .enlaces-der{
        display: flex;
    }
    li{
        margin: 5px;
    }
}

@media (min-width: 769px){
    article{
        width: 25%;
    }
    .center{
        font-size: 1rem;
    }
    .enlaces-izq{
        font-size: 1rem;
    }
    .enlaces-der{
        font-size: 1rem;
    }
    .barra-icono{
        width: 35rem;
    }
    .barra{
        height: 35%;
    }
    .lupita{
        height: 35%;
        width: 5%;
    }
    .parrafo{
        font-size: 1rem;
    }
    .copyright{
        font-size: 1rem;
    }
    .contenedor-footer{
        display: flex;
    }
}