<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <div class="arriba">
        <div class="encabezado">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo" width="50%"/>
        <div class="barra-icono">
            <input class="barra" type="text" placeholder="Buscar productos, marcas"/>
            <button class="lupita"><i class="icono-lupita fas fa-search"></i></button>
        </div>
        </div>
        <p class="center">
            <i class="fas fa-hand-holding-usd"></i>
            <span>Comprá en cuotas y sin tarjeta de crédito</span>
        </p>
        <div class="burger-menu">
            <i class="hamburguesa fas fa-bars"></i>
        </div>
        </div>
        <nav class="navbar">
        <ul class="enlaces-izq">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="enlaces-der">
            <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        </nav>
    </header>
    <h1 class="h1">Formulario Login</h1>
    <link rel="stylesheet" href="/css/register.css">
    <section class="form-register">
    <form action='/' method="GET" >
        <fieldset>
        <div class="titulares">
            <label class="negrita" for="usuario">Nombre de usuario</label>
            <input type="text" name="nombre de usuario" id="usuario" placeholder="ej: HE-MAN83" required>
        </div>
        <div class="titulares">
            <label class="negrita" for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" id="contraseña" required>
        </div>
        <button class="boton" type="submit" >Enviar</button>
        </fieldset>
    </form>
    </section>
    <footer>
        <div class="contenedor-footer">
        <section class="footer-section">
            <i class="icono-footer fas fa-credit-card"></i>
            <h3 class="title">Pagá con tarjeta o en efectivo</h4>
            <p class="parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer-section">
            <i class="icono-footer fas fa-gift"></i>
            <h3 class="title">Envío gratis desde $ 2.500</h4>
            <p class="parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer-section">
            <i class="icono-footer fas fa-user-shield"></i>
            <h3 class="title">Seguridad, de principio a fin</h4>
            <p class="parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        </div>
        <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>